# Server config
SERVER_PORT=8080
SERVER_SERVLET_CONTEXT_PATH=/api

# Spring datasource (database)
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/cinema
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cinema

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redispassword
REDIS_DATABASE=0

# JWT
JWT_SIGNERKEY=key

# VNPAY
VNPAY_TMN_CODE=code
VNPAY_SECRET_KEY=key
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:4200/payment-result
VNPAY_COMMAND=pay
VNPAY_VERSION=2.1.0

# App CORS
APP_CORS_ALLOWED_ORIGINS=*
